.footer {
  margin-top: 100px;
  padding: 60px 24px 25px;
  background: #211d1a;
  color: #fffdf9;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  border-bottom: 1px solid #49433e;
}

.footer-brand {
  max-width: 380px;
}

.footer-brand h2 {
  margin: 0 0 18px;
  font-size: 28px;
  letter-spacing: -1px;
}

.footer-brand h2 span {
  color: #e05218;
}

.footer-brand p {
  margin: 0;
  color: #aaa39d;
  font-size: 14px;
  line-height: 1.7;
}

.footer-links {
  display: flex;
  gap: 100px;
}

.footer-links > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-heading {
  margin: 0 0 8px;
  color: #fffdf9 !important;
  font-size: 13px !important;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer-links a {
  color: #aaa39d;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s ease;
}

.footer-links a:hover {
  color: #e05218;
}

.footer-bottom {
  max-width: 1200px;
  margin: 22px auto 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-bottom p {
  margin: 0;
  color: #77716b;
  font-size: 12px;
}

/* MOBILE */

@media (max-width: 700px) {
  .footer {
    margin-top: 70px;
    padding: 45px 20px 20px;
  }

  .footer-inner {
    flex-direction: column;
    gap: 40px;
  }

  .footer-links {
    gap: 60px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 450px) {
  .footer-links {
    gap: 35px;
  }
}